<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>Esp8266.Wifi</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Esp8266.Wifi.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>recived sensor data</description>
    <display-name>SensorData</display-name>
    <servlet-name>SensorData</servlet-name>
    <servlet-class>Esp8266.Wifi.SensorData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SensorData</servlet-name>
    <url-pattern>/SensorData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>Esp8266.Wifi.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CbrAlgorithm</display-name>
    <servlet-name>CbrAlgorithm</servlet-name>
    <servlet-class>Esp8266.Wifi.CbrAlgorithm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CbrAlgorithm</servlet-name>
    <url-pattern>/CbrAlgorithm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutCrops</display-name>
    <servlet-name>AboutCrops</servlet-name>
    <servlet-class>Esp8266.Wifi.AboutCrops</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutCrops</servlet-name>
    <url-pattern>/AboutCrops</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCustomer</display-name>
    <servlet-name>CreateCustomer</servlet-name>
    <servlet-class>Esp8266.Wifi.customer.CreateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomer</servlet-name>
    <url-pattern>/CreateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCustomer</display-name>
    <servlet-name>CheckCustomer</servlet-name>
    <servlet-class>Esp8266.Wifi.customer.CheckCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCustomer</servlet-name>
    <url-pattern>/CheckCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerMenu</display-name>
    <servlet-name>CustomerMenu</servlet-name>
    <servlet-class>Esp8266.Wifi.customer.CustomerMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMenu</servlet-name>
    <url-pattern>/CustomerMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Esp8266.Wifi.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetail</display-name>
    <servlet-name>ProductDetail</servlet-name>
    <servlet-class>Esp8266.Wifi.ProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetail</servlet-name>
    <url-pattern>/ProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartAdd</display-name>
    <servlet-name>CartAdd</servlet-name>
    <servlet-class>Esp8266.Wifi.CartAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAdd</servlet-name>
    <url-pattern>/CartAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Esp8266.Wifi.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartMenu</display-name>
    <servlet-name>CartMenu</servlet-name>
    <servlet-class>Esp8266.Wifi.cart.CartMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartMenu</servlet-name>
    <url-pattern>/CartMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FarmerMenu</display-name>
    <servlet-name>FarmerMenu</servlet-name>
    <servlet-class>Esp8266.Wifi.farmer.FarmerMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerMenu</servlet-name>
    <url-pattern>/FarmerMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationMenu</display-name>
    <servlet-name>NotificationMenu</servlet-name>
    <servlet-class>Esp8266.Wifi.notification.NotificationMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationMenu</servlet-name>
    <url-pattern>/NotificationMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNotification</display-name>
    <servlet-name>AddNotification</servlet-name>
    <servlet-class>Esp8266.Wifi.AddNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNotification</servlet-name>
    <url-pattern>/AddNotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>Esp8266.Wifi.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerMenu</display-name>
    <servlet-name>BuyerMenu</servlet-name>
    <servlet-class>Esp8266.Wifi.buyer.BuyerMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerMenu</servlet-name>
    <url-pattern>/BuyerMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GraphServlet</display-name>
    <servlet-name>GraphServlet</servlet-name>
    <servlet-class>Esp8266.Wifi.GraphServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphServlet</servlet-name>
    <url-pattern>/GraphServlet</url-pattern>
  </servlet-mapping>
</web-app>